#encoding UTF-8
# Automatically created by: scrapy startproject
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[server]
ip = localhost
port = 8012

[mqtt]
server = localhost
port = 1883

[gateway]
topic = gateway